body {
 font-style: 18px;
 background-image: url('../img/font.jpg');
}

/*Celine*/




/*Antoine*/


































































/*Corentin*/
.container{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}

.container ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.container ul li a {
	text-transform: none;
}